<p>
    <a href="{% url 'components:index' %}">Головна сторінка - </a>
    <a href="{% url 'components:announcement' %}">Оголошення - </a>
    {% if user.is_authenticated %}
        Привіт, {{ user.username }}!
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Вийти</button>
    </form>
    {% else %}
    <a href="{% url 'users:login' %}">Увійти - </a>
    <a href="{% url 'users:register' %}">Реєстрація</a>
    {% endif %}
</p> 
    {% block content %} {% endblock content %}