{% extends "components/base.html" %}

{% block content %}
    <p><a href="{% url 'components:announcement' %}">{{ announcement }}</a></p>
    <p>Ви точно бажаєте видалити оголошення?</p>
    <form action="{% url 'components:delete_announ' announcement.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Так, точно</button>
    </form>
    <button name="submit"><a href="{% url 'components:announcement' %}">Відмінити</a></button>
{% endblock content %}